* {
  margin: 0;
  padding: 0;
  color: #ffffff;
}
body {
  background-image: url("background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 1px;
  margin: auto;
  width: 100%;
  font-family: "Press Start 2P", cursive;
}
.title {
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 7px 5px #200a20b4;
  margin-top: 5%;
  margin-bottom: 0;
}
#player-choose {
  text-align: center;
  margin-top: 60px;
  font-size: 30px;
  vertical-align: middle;
  text-shadow: 4px 3px #200a20;
}
#player-turn {
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
}
.display {
  color: #f0f0f0;
  font-size: 25px;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2%;
  text-shadow: 7px 5px #000208b4;
}
.hide {
  display: none;
}
#container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 55vh;
  height: 55vh;
}
.tile {
  border: 1px solid #ffffff;
  background-color: #050505a8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
}
.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20%;
  margin: auto;
  align-items: center;
  margin-top: 1em;
}
#reset,
#previous,
#next {
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  outline: none;
  vertical-align: middle;
  border: none;
  cursor: pointer;
}
#reset {
  background-image: url("reset.png");
  height: 50px;
  width: 50px;
  background-blend-mode: luminosity;
}
#previous {
  background-image: url("previous.png");
  height: 25px;
  width: 25px;
}
#next {
  background-image: url("next.png");
  height: 25px;
  width: 25px;
}
#announce-winner {
  text-align: center;
  margin: auto;
  color: #ffffff;
  font-size: 1.5rem;
  text-shadow: 4px 3px #200a20;
}
.X {
  color: #91ff00;
  font-size: 55px;
}
.O {
  color: #ee4a34;
  font-size: 55px;
}
#xoButtons {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
#x {
  color: #91ff00;
  font-size: 5.5rem;
  background-color: rgba(3, 3, 3, 0.384);
  font-family: "Press Start 2P", cursive;
  padding: 25px;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
  margin: 40px;
}
#o {
  color: #ee4a34;
  font-size: 5.5rem;
  background-color: rgba(3, 3, 3, 0.384);
  font-family: "Press Start 2P", cursive;
  padding: 25px;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
  margin: 40px;
}

.not-visible {
  visibility: hidden;
}

@media (max-width: 938px) {
  .title {
    font-size: 1rem;
    padding-top: 10px;
  }
  #player-choose {
    text-align: center;
    margin-top: 60px;
    font-size: 25px;
    vertical-align: middle;
    text-shadow: 4px 3px #200a20;
  }
  #player-turn {
    font-size: 1.3rem;
    padding-top: 20px;
  }
  .tile {
    border: 1px solid #ffffff;
    background-color: #05050562;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
  }
  #container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 50vh;
    height: 50vh;
    margin-top: 50px;
  }
  .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
    margin: auto;
    align-items: center;
    margin-top: 1em;
  }
  #announce-winner {
    text-align: center;
    margin: auto;
    color: #ffffff;
    font-size: 1.5rem;
    text-shadow: 4px 3px #200a20;
  }
}

@media (max-width: 644px) {
  .title {
    font-size: 1rem;
    padding-top: 10px;
  }
  #player-turn {
    font-size: 1.3rem;
    padding-top: 20px;
  }

  .tile {
    border: 1px solid #ffffff;
    background-color: #05050562;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    text-align: center;
    cursor: pointer;
  }
  #container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 48vh;
    height: 48vh;
    margin-top: 60px;
  }
  .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 38%;
    margin: auto;
    align-items: center;
    margin-top: 1em;
  }
  #announce-winner {
    text-align: center;
    margin: auto;
    color: #ffffff;
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 4px 3px #200a20;
  }
  #player-choose {
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    vertical-align: middle;
    text-shadow: 4px 3px #200a20;
  }
  #x {
    color: #91ff00;
    font-size: 4rem;
    background-color: rgba(3, 3, 3, 0.384);
    font-family: "Press Start 2P", cursive;
    padding: 25px;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    margin: 40px;
  }
  #o {
    color: #ee4a34;
    font-size: 4rem;
    background-color: rgba(3, 3, 3, 0.384);
    font-family: "Press Start 2P", cursive;
    padding: 25px;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    margin: 40px;
  }
}
@media (max-width: 438px) {
  .title {
    font-size: 0.8rem;
    padding-top: 50px;
  }
  #player-turn {
    font-size: 1rem;
    padding-top: 30px;
  }
  #player-choose {
    text-align: center;
    margin-top: 60px;
    font-size: 17px;
    vertical-align: middle;
    text-shadow: 4px 3px #200a20;
  }
  #x {
    color: #91ff00;
    font-size: 3rem;
    background-color: rgba(3, 3, 3, 0.384);
    font-family: "Press Start 2P", cursive;
    padding: 25px;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    margin: 40px;
  }
  #o {
    color: #ee4a34;
    font-size: 3rem;
    background-color: rgba(3, 3, 3, 0.384);
    font-family: "Press Start 2P", cursive;
    padding: 25px;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    margin: 40px;
  }
  .tile {
    border: 1px solid #ffffff;
    background-color: #05050562;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
  }
  #container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 35vh;
    height: 35vh;
    margin-top: 70px;
  }
  .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
    align-items: center;
    margin-top: 1em;
  }
  #reset {
    background-image: url("reset.png");
    height: 40px;
    width: 40px;
    background-blend-mode: luminosity;
  }
  #announce-winner {
    text-align: center;
    margin: auto;
    color: #ffffff;
    font-size: 1.1rem;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 4px 3px #200a20;
  }
}
