*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: ease all 75ms;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100vw;
    height: 75vh;
    font-family: 'Work Sans', sans-serif;
    padding-left: 10px;
    padding-right: 40px;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px #b6b6b6a9;
    
}
#name[contenteditable]:empty::before {
    content: '[What\'s your name?]';
    display: inline;
    opacity: 0.7;
}
#name{
    cursor:text;
}
#focus[contenteditable]:empty::before {
    content: '[write it here]';
    display: inline;
    opacity: 0.7;
}
#focus{
    cursor:text;
}

/* start to do style */
#todo{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50px; /*relative to toggle to do with*/
    padding: 5px;
    height: calc(100vh - 60px);
    background-color: rgb(94, 0, 58); /*temporary*/
    z-index: 1000;
    overflow: hidden;
    
}
#toggle-todo{
    position: fixed;
    width: 50px;
    height: 60px;
    background-color: rgba(211, 102, 0, 0.973); /*temporary*/
    top:0;
    right: 0;
    cursor: pointer;
    background-image: url("Images/todoicon.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}
#todo-content{
    visibility: hidden;
    color: rgb(133, 1, 63);
    padding-top: 30px;
    transition: ease all 3ms;
    
    
}
#title-todo{
    opacity: 1;
    margin: 20px 0;
    color: white;
    font-size: 24px;
}
#add{
    background-image: url('Images/add.png');
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    height: 20px;
    width: 20px;
    outline: none;
    vertical-align: middle;
    border: none;
    cursor: pointer;
}
.delete{
    background-image: url('Images/trash.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0);
    height: 18px;
    width: 18px;
    outline: none;
    vertical-align: middle;
    border: none;
    cursor: pointer;

}
input{
    margin-top:30px;
    width:70%;
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(230, 220, 218);
    color: rgba(79, 102, 102, 0.904);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(124, 107, 107);
    opacity: 3; /* Firefox */
  }
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(124, 107, 107);
  }
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(124, 107, 107);
  }

#tasks{
    padding:20px;
    margin-top: 0px;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: inherit;

}
#task{
    background-color:rgba(194, 191, 191, 0.534); /*temporary*/
    color: #fff;
    height: 60%;
    padding: 5px 10px;
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.completed{
    text-decoration:line-through;
    opacity: .7;
}


/* end to do style */

#main{
    width: 80%;
    position: inherit;
    top: 0px;
}
#reset{
    background-image: url('Images/reset.png');
    background-color: rgba(170, 29, 111, 0.747); /*temporary*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    height: 60px;
    width: 60px;
    outline: none;
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 1em;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#time{
    font-size: 9rem;
}
h1{
    margin-bottom: 5rem;
    font-size: 3rem;
}
h2{
    margin-bottom: 1rem;
    opacity: 0.8;
    font-size: 1.9rem;
}
h3{
    opacity: 0.9;
    font-size: 1.6rem;
}
.quote-wrapper{
    position:absolute;
    margin-top: 6.6rem;
    width: inherit;
    vertical-align: bottom;
    align-self: center;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 40px;
}
#quote-text{
    padding: 30px 20px;
    font-style: italic;
    opacity: 0.9;
    font-size: 1.2rem;
}
#gen-quote{
    background-image: url('Images/random.png');
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 20px;
    width: 20px;
    outline: none;
    vertical-align: middle;
    border: none;
    cursor: pointer;
}
#quote-text[contenteditable]:empty::before {
    content: 'Go ahead, motivate yourself!';
    display: inline;
    opacity: 0.7;
}
#new-quote{
    background-image: url('Images/edit.png');
    margin-right: 25px;
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 20px;
    width: 20px;
    outline: none;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    opacity: .7;
}

@media(max-width: 828px){
    #time{
        font-size: 7.5rem;
    }
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.8rem;
    }
    h3{
        font-size: 1rem;
    }
}
@media(max-width: 696px){
    #time{
        font-size: 6rem;
    }
    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 0.9rem;
    }
    #quote-text{
        font-size: 1rem;
    }    
}

@media(max-width: 542px){
    #time{
        font-size: 4.5rem;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.4rem;
    }
    h3{
        font-size: 1rem;
    }
    #quote-text{
        font-size: .9rem;
    }    
    #reset{
        height: 45px;
        width: 45px;
    }
}
@media(max-width: 436px){
    #time{
        font-size: 3.5rem;
    }
    h1{
        font-size: 1.6rem;
    }
    h2{
        font-size: 1.2rem;
    }
    h3{
        font-size: 1rem;
    }
    #quote-text{
        font-size: .9rem;
    }    
    #reset{
        height: 45px;
        width: 45px;
    }
}
@media(max-width: 356px){
    #time{
        font-size: 2.5rem;
    }
    h1{
        font-size: 1.3rem;
    }
    h2{
        font-size: 1.2rem;
    }
    h3{
        font-size: 0.9rem;
    }
    #reset{
        height: 45px;
        width: 45px;  
    }
    #quote-text{
        font-size: .8rem;
    }
}
